<header class="top-header">
  
    <nav class="navbar navbar-expand gap-3">
      <div class="mobile-toggle-icon fs-3">
        <i class="fa-solid fa-bars"></i>
      </div>



      <div class="top-navbar-right ms-auto" >
        <ul class="navbar-nav align-items-center" ngbDropdown>

          <li class="nav-item dropdown dropdown-large" ngbDropdown>
            
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" ngbDropdownToggle>
              <div class="messages">
                <span class="notify-badge">5</span>
                <i class="fa-solid fa-comment-dots"></i>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-start p-0" ngbDropdownMenu>
              <div class="p-2 border-bottom m-2">
                <h5 class="h5 mb-0">Messages</h5>
              </div>
              <div class="header-message-list p-2" NgbDropdownItem>
                <a class="dropdown-item" href="#">
                  <div class="d-flex align-items-center">
                  <img src="assets/images/avatar-1.png" alt="" class="rounded-circle" width="50" height="50"> 
                    <div class="ms-3 flex-grow-1">
                      <h6 class="mb-0 dropdown-msg-user">Amelio Joly <span class="msg-time float-end text-secondary">1
                          m</span></h6>
                      <small class="mb-0 dropdown-msg-text text-secondary d-flex align-items-center">The standard chunk
                        of lorem...</small>
                    </div>
                  </div>
                </a>
              
              
              </div>
              <div class="p-2">
                <div>
                  <hr class="dropdown-divider">
                </div>
                <a class="dropdown-item" href="#">
                  <div class="text-center">View All Messages</div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown dropdown-large" ngbDropdown>
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" ngbDropdownToggle>
              <div class="notifications">
                <span class="notify-badge">8</span>
                <i class="fa-solid fa-bell"></i>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end p-0" ngbDropdownMenu>
              <div class="p-2 border-bottom m-2">
                <h5 class="h5 mb-0">Notifications</h5>
              </div>
              <div class="header-notifications-list p-2">
                <a class="dropdown-item" href="#">
                  <div class="d-flex align-items-center">
                    <div class="notification-box bg-light-primary text-primary"><i class="bi bi-basket2-fill"></i></div>
                    <div class="ms-3 flex-grow-1">
                      <h6 class="mb-0 dropdown-msg-user">New Orders <span class="msg-time float-end text-secondary">1
                          m</span></h6>
                      <small class="mb-0 dropdown-msg-text text-secondary d-flex align-items-center">You have recived
                        new orders</small>
                    </div>
                  </div>
                </a>
             
              </div>
              <div class="p-2">
                <div>
                  <hr class="dropdown-divider">
                </div>
                <a class="dropdown-item" href="#">
                  <div class="text-center">View All Notifications</div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown dropdown-user-setting" ngbDropdown>
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret"ngbDropdownToggle>
              <div class="user-setting d-flex align-items-center">
                <img src="assets/images/avatar-1.png" class="user-img" alt="">
              </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
              <li>
                <a class="dropdown-item" href="#">
                  <div class="d-flex align-items-center">
                    <img src="assets/images/avatar-1.png" alt="" class="rounded-circle" width="54" height="54">
                    <div class="ms-3">
                      <h6 class="mb-0 dropdown-user-name">User Name</h6>
                      <small class="mb-0 dropdown-user-designation text-secondary">Desigations</small>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="pages-user-profile.html">
                  <div class="d-flex align-items-center">
                    <div class=""><i class="bi bi-person-fill"></i></div>
                    <div class="ms-3"><span>Profile</span></div>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <div class="d-flex align-items-center">
                    <div class=""><i class="bi bi-gear-fill"></i></div>
                    <div class="ms-3"><span>Setting</span></div>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="index2.html">
                  <div class="d-flex align-items-center">
                    <div class=""><i class="bi bi-speedometer"></i></div>
                    <div class="ms-3"><span>Dashboard</span></div>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <div class="d-flex align-items-center">
                    <div class=""><i class="bi bi-piggy-bank-fill"></i></div>
                    <div class="ms-3"><span>Earnings</span></div>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <div class="d-flex align-items-center">
                    <div class=""><i class="bi bi-cloud-arrow-down-fill"></i></div>
                    <div class="ms-3"><span>Downloads</span></div>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

            </ul>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:;">
              <div class="d-flex align-items-center">
                <div class=""><i class="fa-solid fa-arrow-right-from-bracket"></i></div>

              </div>
            </a>
          </li>

        </ul>
      </div>
    </nav>
  </header>