
<div class="row row-cols-12 row-cols-lg-12 row-cols-xl-12 row-cols-xxl-12 breadcrumb-box">
  <div class="col-md-4 title-breadcrumb">
    <h4 class="float-start">Dashboard</h4>
  </div>
  <div class="col-md-8">
    <nav aria-label="breadcrumb" class="float-end position-relative text-end ">

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fas fa-tachometer-alt"></i></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
  </div>

  <!--end row-->

</div>

<div class="row row-cols-12 row-cols-lg-12 row-cols-xl-12 row-cols-xxl-12  bg-color5">

  <div class="card   bg-color5  p-4">
    <div class="card-body">
      <div class="row">

        <div class="col-md-6 col-sm-12 mb-2">
          <div class="custom-box  bg-color1">
            <div id="prospects">
              <div class="row">
                <div class="col-md-8">
                  <h5 class="card-title text-start"><i class="fa-solid fa-user"></i> Prospects</h5>
                </div>
                <div class="col-md-4">
                  <h5 class="card-title text-end"> 388</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 content">
                  <div class="row ">

                    <div class="col-md-6">
                      <p class="card-title text-start title"> Not Started</p>
                    </div>
                    <div class="col-md-6">
                      <p class="card-title text-end"> <u>10</u></p>
                    </div>
                  </div>

                  <div class="row ">

                    <div class="col-md-6">
                      <p class="card-title text-start title"> In Progress</p>
                    </div>
                    <div class="col-md-6">
                      <p class="card-title text-end"> <u>20</u></p>
                    </div>
                  </div>
                  <div class="row ">

                    <div class="col-md-6">
                      <p class="card-title text-start title"> Closed - Successful</p>
                    </div>
                    <div class="col-md-6">
                      <p class="card-title text-end"> <u>350</u></p>
                    </div>
                  </div>
                  <div class="row ">

                    <div class="col-md-6">
                      <p class="card-title text-start title"> Closed - To Revisit</p>
                    </div>
                    <div class="col-md-6">
                      <p class="card-title text-end"> <u>3</u></p>
                    </div>
                  </div>
                  <div class="row ">

                    <div class="col-md-6">
                      <p class="card-title text-start title"> Closed - Lost</p>
                    </div>
                    <div class="col-md-6">
                      <p class="card-title text-end"> <u>1</u></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-6 col-sm-12">
          <div class="custom-box  bg-color2">
            <div id="corporate-member">
              <div class="row">
                <div class="col-md-8">
                  <h5 class="card-title text-start"><i class="fa-solid fa-user"></i> Corporate Member</h5>
                </div>
                <div class="col-md-4">
                  <h5 class="card-title text-end"> 323</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 content">
                  <div class="row ">

                    <div class="col-md-6">
                      <p class="card-title text-start title"> Expiry within 60 days</p>
                    </div>
                    <div class="col-md-6">
                      <p class="card-title text-end"> <u>10</u></p>
                    </div>
                  </div>

                  <div class="row ">

                    <div class="col-md-6">
                      <p class="card-title text-start title"> Expiry within 45 days</p>
                    </div>
                    <div class="col-md-6">
                      <p class="card-title text-end"> <u>13</u></p>
                    </div>
                  </div>
                  <div class="row ">

                    <div class="col-md-6">
                      <p class="card-title text-start title"> Closed - Successful</p>
                    </div>
                    <div class="col-md-6">
                      <p class="card-title text-end"> <u>350</u></p>
                    </div>
                  </div>
                  <div class="row ">

                    <div class="col-md-6">
                      <p class="card-title text-start title"> Expiry within 30 days</p>
                    </div>
                    <div class="col-md-6">
                      <p class="card-title text-end"> <u>50</u></p>
                    </div>
                  </div>
                  <div class="row ">

                    <div class="col-md-6">
                      <p class="card-title text-start title"> Renewed last 7 days</p>
                    </div>
                    <div class="col-md-6">
                      <p class="card-title text-end"> <u>250</u></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="d-flex align-items-stretch justify-content-between">

        <div class="col-md-12 col-sm-12 bg-color1 me-3 bg-color4">
          <div id="pendingapproval">
            <h5 class="card-title text-start"><i class="fa-solid fa-clock"></i> Pending Approval</h5>

            <table>
              <tbody>
                <tr>
                  <td>SMEs Go Digital ICM Vendor Briefing</td>
                  <td>Workshop</td>
                  <td>1 Session</td>
                  <td>Submitted</td>
                  <td><button type="button" class="btn btn-primary btn-1">Edit tags</button></td>
                </tr>
                <tr>
                  <td>SMEs Go Digital ICM Vendor Briefing</td>
                  <td>Workshop</td>
                  <td>1 Session</td>
                  <td>Submitted</td>
                  <td><button type="button" class="btn btn-primary btn-1">Edit tags</button></td>
                </tr>
                <tr>
                  <td colspan="5" class="border-0 pt-5 pb-0 pe-0"><button type="button"
                      class="btn btn-primary btn-2 float-end">View Details</button></td>

                </tr>

              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>
    <div class="card-body">
      <div class="d-flex align-items-stretch justify-content-between">

        <div class="col-md-12 col-sm-12 bg-color1 me-3 bg-color6">
          <div id="events">
            <h5 class="card-title text-start"><i class="fa-solid fa-clock"></i> Events</h5>

            <table>
              <tbody>
                <tr>
                  <td class="text-left">Global Tech Business Outlook 2022</td>
                  <td class="text-left">19 Jan 2022</td>
                  <td class="text-center"><span class="title text-center">60</span>Bookings</td>
                  <td class="text-center"><span class="title text-center">2</span>Cancellations</td>
                  <td class="text-center"><span class="title text-center">46</span>Available</td>
                </tr>
                <tr>
                  <td class="text-left">Global Tech Business Outlook 2022</td>
                  <td class="text-left">19 Jan 2022</td>
                  <td class="text-center"><span class="title text-center">60</span>Bookings</td>
                  <td class="text-center"><span class="title text-center">2</span>Cancellations</td>
                  <td class="text-center"><span class="title text-center">46</span>Available</td>
                </tr>
                <tr>
                  <td colspan="5" class="border-0 pt-5 pb-0 pe-0"><button type="button"
                      class="btn btn-primary btn-2 float-end">View Details</button></td>

                </tr>

              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>
    <div class="card-body">
      <div class="d-flex align-items-stretch justify-content-between">

        <div class="col-md-12 col-sm-12 bg-color1 me-3 bg-color7">
          <div id="fees">
            <h5 class="card-title text-start"><i class="fa-solid fa-file-invoice-dollar"></i> Fees Collected
              <span class="fees-date ps-4 pt-2">Jan 2021 - Dec 2021</span>
            </h5>

            <table>

              <tbody>
                <tr>
                  <td class="text-left ps-4"><strong>Membership Fee</strong></td>
                  <td class="text-center"><span class="title text-center">$2000</span>Ordinary Member</td>
                  <td class="text-center"><span class="title text-center">$4000</span>Associate Member</td>
                  <td class="text-center"><span class="title text-center">$6000</span>Total Amount</td>
                </tr>
                <tr>
                  <td class="text-left ps-4"><strong>Sponsorship</strong>
                    <p class="pt-3">Global Tech Business Outlook 2022</p>
                  </td>
                  <td class="text-center"><span class="title text-center">$2000</span>Individual</td>
                  <td class="text-center"><span class="title text-center">$3000</span>Corporate</td>
                  <td class="text-center"><span class="title text-center">$5000
                    </span>Total Amount</td>
                </tr>
                <tr>
                  <td class="text-left ps-4"><strong>Events</strong>
                    <p class="pt-3">Global Tech Business Outlook 2022
                    </p>
                  </td>
                  <td class="text-center"><span class="title text-center">20</span>Pending Payment
                  </td>
                  <td class="text-center"><span class="title text-center">80</span>Paid</td>
                  <td class="text-center"><span class="title text-center">$6500

                    </span>Total Amount
                  </td>
                </tr>

                <tr class="bottom-border">
                  <td class="text-left ps-4">
                    <p>AI Business Matching Event
                    </p>
                  </td>
                  <td class="text-center"><span class="title text-center">0
                    </span>Pending Payment

                  </td>
                  <td class="text-center"><span class="title text-center">50</span>Paid</td>
                  <td class="text-center"><span class="title text-center">$3000

                    </span>Total Amount
                  </td>
                </tr>


              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>